@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	background: #000;
	font-family: 'Karla', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-container {
	max-height: 700px;
	width: 700px;
	background: #1F2937;
	padding: 115px 52px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #2a9d8f;
}

/* HEADER */
#header-container {
	max-width: 300px;
}

.style-header {
	letter-spacing: -0.025em;
	font-size: 2.1rem;
}

#white-header {
	color: #FFFFFF;
}

#green-header {
	color: #4ADF86;
}

#supporting-text {
	margin-top: 10px;
}


/* Used by the header and form */
.text-design {
	color: #D5D4D8;
}

/* Form for setting password rules */
#form-container {
	padding: 51px 0 35px 0;
	border-bottom: 2px solid #2F3E53;
}

#password-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.padding-form {
	padding: 10px 0;
}

#password-length-input {
	width: 50px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 5px 8px;
	font-family: inherit;
	border: none;
	outline: none;
}

/*remove arrows from input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#error-message {
	color: red;
	display: inline-block;
}

input[type="checkbox"] {
	cursor: pointer;
}


.checkbox-div {
	display: inline-block;
	padding-top: 0;
}

label[for="toggle-symbols"] {
	margin-right: 20px;
}

#generate-button {
	opacity: 0.95;
	background: #10B981;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 9px 17px;
	color: #FFFFFF;
	font-family: inherit;
	border: none;
	cursor: pointer;
}

#generate-button:hover {
	outline: 1px ridge #FFF;
	opacity: 1;
}

#generate-button:active {
	outline: 3px ridge #FFF;
	opacity: 1;
}


/*Password Container*/
#password-container {
	padding-top: 35px;
	display: flex;
}

.password-div {
	min-width: 211px;
	min-height: 39px;
	background: #273549;
	border-radius: 6px;
	margin: 0 auto;
	padding: 0 10px;
	color: #55F991;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

/*clipboard effect*/
.clipboard:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 110%;
}

.password-div:hover:before {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1280px) {
	#password-container {
		flex-flow: column wrap;
	}
	.password-div:first-of-type {
		margin-bottom: 10px;
	}

}

@media (max-width: 1024px) {
	#password-container {
		flex-flow: column wrap;
	}
	.password-div:first-of-type {
		margin-bottom: 10px;
	}

}

@media (max-width: 768px) {
	#main-container {
		box-shadow: 0px 0px 0px;
	}
}

@media (max-width: 480px) {
	body {
		background: #1F2937;
	}
}