@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Karla:wght@400;600;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background: #000;
	font-family: 'Inter', sans-serif;
	color: #FFFFFF;
	padding: 0 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* HEADER CONTENT */
#header-container {
	padding: 34px 51px;
	background: #6943FF;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header-text {
	margin-top: 0;
	letter-spacing: -0.03em;
	text-align: center;
}

#converter-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#number-input {
	max-width: 117px;
	min-height: 83px;
	border: 2px solid #B295FF;
	background: transparent;
	color: #FFFFFF;
	font-size: 3.5rem;
	font-weight: 800;
	outline: none;
	text-align: center;
	margin-bottom: 27px;
}

/*REMOVE ARROW FROM NUMBER INPUT*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#convert-button {
	background: #FFFFFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border: none;
	padding: 9px 28px;
	cursor: pointer;
	opacity: 0.90;
	transition: background 0.25s, color 0.25s, opacity 0.25s, font-weight 0.25s;
}

#convert-button:hover {
	background: #000000;
	color: #FFFFFF;
	font-weight: 800;
	opacity: 1;
}

#convert-button:active {
	outline: solid #FFFFFF;
}

#text-prompt {
	color: #d5bdaf;
}

.form-utility {
	border-radius: 5px;
	font-family: inherit;
}


/* MAIN CONTENT */
#main-container {
	background: #1F2937;
	padding: 35px 25px;
}

.box-style {
	background: #273549;
	border-radius: 4.68077px 0px 0px 0px;
	padding: 31px 77px 19px 77px;
	margin-bottom: 24px;
	text-align: center;
}

.box-style:last-of-type {
	margin-bottom: 0;
}

.subheaders-color {
	color: #CCC1FF;
}

.text-content-size {
	font-size: 14px;
}

@media (max-width:480px) {
	body {
		padding: 0;
	}
}