@tailwind base;
/* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

/*
/********* SCROLL BAR *******/
.home>div::-webkit-scrollbar {
  background: linear-gradient(to right, #2b5876, #4e4376);
  border-radius: 10px;
  /* display: none; */
}

div::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

div::-webkit-scrollbar-button {
  display: none;
}

::-moz-scrollbar-thumb {
  background: #000;
}

::-ms-scrollbar-thumb {
  background: #000;
}