/*btn class in App.css*/
.check-answers-btn {
    margin-top: 0.5em;
    display: block;
    margin: 0.5em auto 0;
    background: #4D5B9E;
    padding: 1em 2.5em;
  }

.results {
    color: #293264;
    margin: 0.5em 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;    
  }